<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
	</configSections>
	<akka>
		<hocon>
			<![CDATA[
      akka {
        loglevel = DEBUG
        loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
        actor {
          debug {
            receive = on
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
          }
        }
      }
      
      akka.persistence {
        journal {
          plugin = "akka.persistence.journal.sql-server"
          sql-server {
            class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
            plugin-dispatcher = "akka.actor.default-dispatcher"

            # connection string used for database access
            connection-string = "Data Source=.;Initial Catalog=AeroCare_App;Integrated Security=True"

            # default SQL timeout
            connection-timeout = 30s

            # SQL server schema name
            schema-name = akka

            # persistent journal table name
            table-name = EventJournal

            # initialize journal table automatically
            auto-initialize = off

            timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"
            metadata-table-name = Metadata

            recovery-event-timeout = 240s
          }
        }
        
        snapshot-store {
          plugin = "akka.persistence.snapshot-store.sql-server"
          sql-server {
            class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
            plugin-dispatcher = "akka.actor.default-dispatcher"
            table-name = SnapshotStore
            schema-name = akka
            auto-initialize = off
            connection-string = "Data Source=.;Initial Catalog=AeroCare_App;Integrated Security=True"
          }
        }
      }
      ]]>
		</hocon>
	</akka>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>